<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>todoList</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="fname">
    <input v-model="inputValue"/>
    <button @click="handleClick">提交</button>
    <ul>
        <li v-for="(item,index) in list" :key="index" >{{item}}</li>
    </ul>
</div>

<script>
    new Vue({
        el:"#fname",
        data:{
            inputValue:'',
            list:[],
        },
        methods:{
            handleClick:function () {
               this.list.push(this.inputValue);
               this.inputValue='';
            }
        }
    })
</script>

</body>
</html>